.content {
    position: relative;
}

.largeImage {
    background-image: url("images/barebones\ jordan.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;


    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.iconTitle {
    position: absolute;
    color: whitesmoke;
    z-index: 2;
    top: 250px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.scrollDown {
    position: absolute;
    color: whitesmoke;
    z-index: 2;
    transform: translateY(750px);
    width: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

    font-size: 80px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    filter: opacity(0.6);

    animation: scrollDown 2s ease-in-out infinite alternate;
    
}

.news {
    display: inline-flex;
    width: 100%;
    background-color: #333;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    z-index: 100;
}

.imgLink {
    left: 0px;
}

.newsText {
    padding:5%;
    font-size: 24px;
    color: whitesmoke;
}

.boxContent {
    display: flex;
    width:100%;
}

.navbar {
    z-index: 100;
}

.dropdown-menu {
    background-color: #171a1c;
    color: #2d3134;
}

.dropdown-item {
    color: rgb(150, 150, 150);
}

@keyframes scrollDown {
    from {
        transform: translateY(730px);
    }
    to {
        transform: translateY(770px)
    }
}

@media only screen and (max-width: 600px) {
    .news {
        width: 100%;
        background-color: #333;
        z-index: 100;
        float: left;
        padding:0px;
    }

    .boxContent {
        display:block;
        width:100%;
        margin: 0px;
        padding-top: 12%;
        -webkit-transform: translateX(0px) scale(0.8);
        -moz-transform: translateX(0px) scale(0.8);
        -ms-transform: translateX(0px) scale(0.8);
        transform: translateX(0px) scale(0.8);
    }
    
    .newsText {
        padding:5%;
        font-size: 24px;
        color: whitesmoke;
    }

    .imgLinkMap {
        float:right;
    }
}