.canvas {
    width: 100%;
    padding: 5%;
    display:flex;
    justify-content:left;
    list-style:none;
}

.books {
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    list-style:none;
    width:25%
}

.card{
    width: 100px;
    margin: 10px;
}

.book{
    margin: 10%;
    width: 75%
}

.chapters {
    width:50%;
    overflow-x: hidden;
    overflow-wrap: normal;
}